.mask { list-style: none; display: none; }

div.container-max { font-size: 1.3em; }
div.container-max input { width: 100%; }
div.container-max input.input-date { width: 50px; }
div.container-max input.input-ajax-checkbox { display: inline; width: auto; margin-right: 5px; }
div.container-max label { display: block; }
div.container-max textarea { width: 100%; }
div.container-max input[type=submit] { margin-top: 25px; }
div.container-max p.details { margin-top: 25px; font-style: italic; color: #e7e7e7; }
div.container-max table { width: 100%; }
div.container-max tr > th { background-color: #f8f8f8; border-bottom: 1px solid #e7e7e7; }
div.container-max td, th { padding: 2px 10px; }
div.container-max h2 { margin: 10px 0 10px 0; }
