div.container-max { font-size: 1.3em; }
div.container-max input { width: 100%; }
div.container-max input.input-date { width: 50px; }
div.container-max input.input-ajax-checkbox { display: inline; width: auto; margin-right: 5px; }
div.container-max label { display: block; }
div.container-max textarea { width: 100%; }
div.container-max input[type=submit] { margin-top: 25px; }
div.container-max p.details { margin-top: 25px; font-style: italic; color: #cccccc; }
