<?php
/* Nouvelle Donne -- Copyright (C) Perrick Penet-Avez 2014 - 2014 */

$config['name'] = "Lozeil";
$config['title'] = "Lozeil";
$config['version'] = "26";
$config['layout_mediaserver'] = "";

$dbconfig['type'] = "mysql";
$dbconfig['host'] = "localhost";
$dbconfig['name'] = "nouvelledonne";
$dbconfig['user'] = "root";
$dbconfig['pass'] = "";
$dbconfig['new'] = "0";

$param['locale_timezone'] = "Europe/Paris";
